{% extends 'base.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block body %}
  {% include 'navbar.html.twig' %}
  <h1>
    Devenir un WEFA
  </h1>
  <div class="formRegister">
    <div class="formContainer">
      {{ form_start(registrationForm) }}
      {{ form_widget(registrationForm.name) }}
      {{ form_widget(registrationForm.surname) }}
      {{ form_widget(registrationForm.pseudo) }}
      {{ form_widget(registrationForm.email) }}
      {{ form_widget(registrationForm.phone) }}
      {{
        form_widget(
          registrationForm.plainPassword,
          {
            label: 'Password'
          }
        )
      }}

      <button type="submit">Commencer l'aventure</button>
      {{ form_end(registrationForm) }}
    </div>
    <p>
      Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous
        !</a>
    </p>
  </div>
{% endblock %}
